@using AnaAna.Data.Models
@using AnaAna.Services.ViewModels

@model RetrievePollViewModel;

<h1> @Model.Title </h1>
<p> @Model.Description </p>
<p> @Model.StartedAd </p>
<p> @Model.EndedAt </p>

<h2> Categorie : @Model.Category.Name </h2>

 @if (Model.UserAlreadyVoted)
{
    <div id="result">
        <p> Wesh t'as déjà voté :D</p>
    </div>
}
else
{

    <form asp-action="CreateResult">

        <input type="hidden" name="pollId" value="@Model.Id">

        @if (Model.HasMultipleChoice)
        {
            <p> Choisis une ou plusieurs réponse :</p>

            @foreach (Choice choice in Model.Choices)
            {

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="choicesSelected" id="choice-@choice.Id" value="@choice.Id">
                    <label class="form-check-label" for="choice-@choice.Id">
                        @choice.Label
                    </label>
                </div>
            }
        }
        else
        {
            <p> Choisis une réponse :</p>

            @foreach (Choice choice in Model.Choices)
            {


                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choicesSelected" id="choice-@choice.Id" value="@choice.Id">
                    <label class="form-check-label" for="choice-@choice.Id">
                        @choice.Label
                    </label>
                </div>
            }

        }

        <div class="form-group">
            <input type="submit" value="Créer" class="btn btn-primary" />
        </div>


    </form>
}
