@using AnaAna.Data.Models
@using AnaAna.Services.ViewModels
@using Microsoft.AspNetCore.Http

@model RetrievePollViewModel;
@section Styles {
<link rel="stylesheet" asp-append-version="true" href="~/css/retrieve.css" />
}

@{
    
    ViewData["Title"] = @Model.Title;
}


<h1> @Model.Title </h1>
<p class="text-center mb-4"> @Model.Description</p>
<section class="ana-ana-container ana-ana-styled-container ">
    <div class="d-flex justify-content-around">
        <div>
            @if(Model.IsDisabled)
            {
                <p> S'est terminé le @Model.EndedAt.ToString("dd/MM/yyyy")</p>
            } else
            {
            <p> Se termine le @Model.EndedAt.ToString("dd/MM/yyyy")</p>
                
            }
            <div>
                <p> <span class="labels-poll"> Catégorie : </span> @Model.Category.Name</p>
                <p> <span class="labels-poll"> Nombre de votes : </span> @Model.nbVoted</p>
            </div>
        </div>
        <div>
            <p>Créé le @Model.StartedAd</p>
            <div>
                <p>
                    <a class="btn btn-result" href="~/Results/index?pollId=@Model.Id"> Voir les résultats </a>
                </p>
                @if (Model.userIsCreator && !Model.IsDisabled)
                {
                    <button id="btn-disable-poll-@Model.Id" class="btn btn-primary w-100" onclick="desactivatePoll('@Model.Id')"> Clôturer le sondage </button>
                }

            </div>
        </div>
    </div>

    <div class="poll-form-container">
        <form asp-action=@ViewData["mode"] asp-controller="Results" class="d-flex flex-column justify-content-between poll-form">

            <input id="pollId" type="hidden" name="pollId" value="@Model.Id">
            <div>
                @if (Model.HasMultipleChoice)
                {
                    <p class="labels-poll text-center"> Choisis une ou plusieurs réponses :</p>


                    @foreach (Choice choice in Model.Choices)
                    {

                        <div class="form-check ana-ana-inputs">
                            <div>
                                @if (Model.ChoicesSelected != null && Model.ChoicesSelected.Any(x => x.Id == choice.Id))
                                {

                                    <input class="form-check-input" type="checkbox" name="choicesSelected" id="choice-@choice.Id" value="@choice.Id"
                               checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" name="choicesSelected" id="choice-@choice.Id" value="@choice.Id">
                                }

                                <label class="form-check-label" for="choice-@choice.Id">
                                    @choice.Label
                                </label>

                            </div>

                        </div>
                    }
                }
                else
                {
                    <p class="labels-poll text-center"> Choisis une réponse :</p>

                    @foreach (Choice choice in Model.Choices)
                    {


                        <div class="form-check ana-ana-inputs">
                            <div>

                                @if (Model.ChoicesSelected != null && Model.ChoicesSelected.Any(x => x.Id == choice.Id))
                                {

                                    <input class="form-check-input" type="radio" name="choicesSelected" id="choice-@choice.Id" value="@choice.Id"
                               checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="radio" name="choicesSelected" id="choice-@choice.Id" value="@choice.Id">
                                }

                                <label class="form-check-label" for="choice-@choice.Id">
                                    @choice.Label
                                </label>

                            </div>
                        </div>
                    }

                }

            </div>



            @if (Context.User.Identity.IsAuthenticated && !Model.IsDisabled)
            {
                @if (Model.UserAlreadyVoted)
                {
                    <div class=" form-group d-flex justify-content-center">
                        <input id="button-submit-poll" type="submit" value="Modifier mon vote !" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <div class=" form-group d-flex justify-content-center">
                        <input id="button-submit-poll" type="submit" value="Voter" class="btn btn-primary" />
                    </div>
                }

            }
            else
            {
                var titlePopover = Model.IsDisabled ? "Le sondage a été désactivé " : "Vous devez vous connecter afin de participer au sondage !"; 
                <div class="form-group d-flex justify-content-center" data-bs-toggle="popover" title="@titlePopover">
                    <input type="submit" value="Voter" class="btn btn-primary" disabled />
                </div>
            }
        </form>
    </div>

    <div class="poll-egg"> </div>

</section>

@if(ViewData["fromCreate"] != null) {
<div class="modal" id="modalCreate" tabindex="-1" aria-labelledby="finish-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finish-modal">Inviter des participants à votre sondage</h5>
                <button type="button" class="btn-primary" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <p> Félicitations votre sondage a bien été créé ! </p>
                <p> Vous pouvez dès à présent partager ce lien à tous vos partcipants !</p>
                <a class="text-center" href="~/Polls/Retrieve/@Model.Id"> Lien vers le sondage </a>
            </div>

        </div>
    </div>
</div>
<button id="openModal" data-bs-toggle="modal" data-bs-target="#modalCreate"> Coucou </button>

}

<div id="toat-disable-poll" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
<p> Sondage desactivé ! </p>
  </div>
  <div class="toast-body">
    Le sondage a bien été désactivé !
  </div>
</div>



